In [ ]:
import pandas as pd
import spacy
import csv
from tqdm import tqdm
tqdm.pandas()
nlp = spacy.load("en_core_web_lg")

In [2]:
df = pd.read_csv("/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/n-grams/Annotated/emscad_trigrams_ESCO.csv",sep=';')

In [3]:
df['length'] = df['allgrams'].progress_apply(nlp)
df['length'] = df['length'].progress_apply(len)
df

100%|██████████| 142279/142279 [15:56<00:00, 148.74it/s]
100%|██████████| 142279/142279 [00:00<00:00, 764562.12it/s]

                                allgrams  label  length
0                        equipment sales    0.0       2
1               computer skillsvery good    0.0       3
2                       and through data    0.0       3
3                              c and sql    0.0       3
4                   security protocols 4    2.0       3
...                                  ...    ...     ...
142274                     js css skills    NaN       3
142275  considerable requirements design    NaN       3
142276                   extract from it    NaN       3
142277                        team guide    NaN       2
142278                 security industry    NaN       2

[142279 rows x 3 columns]

In [8]:
df = df.sort_values(by=['length'])
#df = df.drop(columns=['length'])
df

KeyError: 'length'

In [ ]:
df.to_csv('/Users/ivowings/Desktop/gesorteerd.csv',
         quoting=csv.QUOTE_NONNUMERIC,
                index=False)