In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('/Users/ivowings/Sync/Thesis/Datasources/Job vacancies/emscad_v1 2.csv')
df = df[df.fraudulent=='f']
df

,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent,in_balanced_dataset
0,Marketing Intern,"US, NY, New York",Marketing,NaN,"<h3>We're Food52, and we've created a groundbr...","<p>Food52, a fast-growing, James Beard Award-w...",<ul>\r\n<li>Experience with content management...,NaN,f,t,f,Other,Internship,NaN,NaN,Marketing,f,f
1,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,NaN,"<h3>90 Seconds, the worlds Cloud Video Product...",<p>Organised - Focused - Vibrant - Awesome!<br...,<p><b>What we expect from you:</b></p>\r\n<p>Y...,<h3><b>What you will get from us</b></h3>\r\n<...,f,t,f,Full-time,Not Applicable,NaN,Marketing and Advertising,Customer Service,f,f
2,Commissioning Machinery Assistant (CMA),"US, IA, Wever",NaN,NaN,<h3></h3>\r\n<p>Valor Services provides Workfo...,"<p>Our client, located in Houston, is actively...",<ul>\r\n<li>Implement pre-commissioning and co...,NaN,f,t,f,NaN,NaN,NaN,NaN,NaN,f,f
3,Account Executive - Washington DC,"US, DC, Washington",Sales,NaN,<p>Our passion for improving quality of life t...,<p><b>THE COMPANY: ESRI – Environmental System...,<ul>\r\n<li>\r\n<b>EDUCATION: </b>Bachelor’s o...,<p>Our culture is anything but corporate—we ha...,f,t,f,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,f,f
4,Bill Review Manager,"US, FL, Fort Worth",NaN,NaN,<p>SpotSource Solutions LLC is a Global Human ...,<p><b>JOB TITLE:</b> Itemization Review Manage...,<p><b>QUALIFICATIONS:</b></p>\r\n<ul>\r\n<li>R...,<p>Full Benefits Offered</p>,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,f,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,Account Director - Distribution,"CA, ON, Toronto",Sales,NaN,<p>Vend is looking for some awesome new talent...,<p>Just in case this is the first time you’ve ...,<p>To ace this role you:</p>\r\n<ul>\r\n<li>Wi...,<p><b>What can you expect from us?</b></p>\r\n...,f,t,t,Full-time,Mid-Senior level,NaN,Computer Software,Sales,f,f
17876,Payroll Accountant,"US, PA, Philadelphia",Accounting,NaN,<p>WebLinc is the e-commerce platform and serv...,<p></p>\r\n<p>The Payroll Accountant will focu...,<p></p>\r\n<p>- B.A. or B.S. in Accounting</p>...,<p></p>\r\n<h3>Health &amp; Wellness</h3>\r\n<...,f,t,t,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,f,f
17877,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",NaN,NaN,<p>We Provide Full Time Permanent Positions fo...,<p>Experienced Project Cost Control Staff Engi...,<ul>\r\n<li>At least 12 years professional exp...,NaN,f,f,f,Full-time,NaN,NaN,NaN,NaN,f,f
17878,Graphic Designer,"NG, LA, Lagos",NaN,NaN,NaN,<p>Nemsia Studios is looking for an experience...,<p>1. Must be fluent in the latest versions of...,<p>Competitive salary (compensation will be ba...,f,f,t,Contract,Not Applicable,Professional,Graphic Design,Design,f,f
17879,Web Application Developers,"NZ, N, Wellington",Engineering,NaN,<p>Vend is looking for some awesome new talent...,<p><b>Who are we?</b></p>\r\n<p>Vend is an awa...,<p><b>We want to hear from you if:</b></p>\r\n...,NaN,f,t,t,Full-time,Mid-Senior level,NaN,Computer Software,Engineering,f,f

In [8]:
pd.DataFrame(df['function'].value_counts())

                        function
Information Technology      1717
Sales                       1427
Engineering                 1235
Customer Service            1162
Marketing                    820
Administrative               511
Design                       337
Health Care Provider         337
Education                    324
Management                   311
Other                        293
Business Development         215
Human Resources              196
Accounting/Auditing          183
Project Management           173
Finance                      157
Consulting                   140
Writing/Editing              132
Art/Creative                 131
Production                   116
Product Management           114
Quality Assurance            111
Advertising                   85
Business Analyst              83
Data Analyst                  78
Public Relations              75
Manufacturing                 72
General Business              67
Research                      50
Legal                         47
Strategy/Planning             45
Training                      38
Supply Chain                  36
Financial Analyst             28
Distribution                  21
Purchasing                    15
Science                       14

In [11]:
pd.DataFrame(df['location'].value_counts())

                       location
GB, LND, London             716
US, NY, New York            638
GR, I, Athens               464
US, CA, San Francisco       461
US, ,                       311
...                         ...
CA, QC, Boisbriand            1
US, OH, Middletown            1
US, WI, Racine Area           1
US, , Philadelphia            1
US, AL, Mobile                1

[2913 rows x 1 columns]