In [13]:
import pandas as pd
from tqdm import tqdm
tqdm.pandas()
import csv

import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import SGDClassifier

from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score

from flashtext import KeywordProcessor
 
import thesis_helper
functions = thesis_helper.Thesis_Helper()

import spacy
nlp = spacy.load("en_core_web_sm")

In [14]:
grams = functions.folder_reader("/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Combined/Taxonomy/Normal")

In [15]:
grams = grams['concatenated'].str.split('|',expand=True)
grams[1] = grams[1].str.strip()

grams

,0,1,2
0,editors to meet site,goals search,and select photos for
1,working on a company,s strategic,and core product demand
2,coordinating communication,across task areas,and with the
3,,skills bachelor,s
4,interacting with individuals from,diverse,ethnic and socio economic
...,...,...,...
5404035,systems related software and our,practice management,software plans appointments meetings and
5404036,needs interacts with,all it management and,staff located in
5404037,compliance with generally accepted,accounting principles,gaap
5404038,team for efficient,marketing strategy and,marketing material design
5404039,must,haves superb writing,skills from 140

In [16]:
df_hardskills = pd.read_csv("/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Skills/emsi_skills.csv")
df_hardskills

                         name  ner
0              net assemblies  NaN
1               net framework  NaN
2             net framework 1  NaN
3             net framework 3  NaN
4             net framework 4  NaN
...                       ...  ...
28275  isqft bidding software  NaN
28276                   jmock  NaN
28277               ph meters  NaN
28278                   qtest  NaN
28279              spatialnet  NaN

[28280 rows x 2 columns]

In [17]:
#Initializing the keyword processor
keyword_processor = KeywordProcessor(case_sensitive=False)

#Adding all the skills to the processor
for skill in tqdm(df_hardskills['name'].str.strip()):
    keyword_processor.add_keyword(skill)

def searcher(row):
    #check if the words are in the row and return a True or False instead of the actual word
    boolean = bool(keyword_processor.extract_keywords(row))
    return boolean

def index_match_start(row):
    try:
        match = keyword_processor.extract_keywords(row,span_info=True)
        index = [index[1] for index in match][0]
        return index
    except:
        None

def index_match_end(row):
    try:
        match = keyword_processor.extract_keywords(row,span_info=True)
        index = [index[2] for index in match][0]
        return index
    except:
        None

grams['match'] = grams[1].progress_apply(searcher)
grams['index_start'] = grams[1].progress_apply(index_match_start)
grams['index_end'] = grams[1].progress_apply(index_match_end)
grams['letters'] = grams[1].progress_apply(len)

100%|██████████| 28280/28280 [00:00<00:00, 107118.43it/s]
100%|██████████| 5404040/5404040 [00:56<00:00, 96438.42it/s]
100%|██████████| 5404040/5404040 [00:57<00:00, 94115.57it/s]
100%|██████████| 5404040/5404040 [00:47<00:00, 113639.52it/s]
100%|██████████| 5404040/5404040 [00:05<00:00, 987902.53it/s]

In [18]:
grams[(grams.match==True) & (grams.index_start==0) & (grams.index_end==grams.letters)]

,0,1,2,match,index_start,index_end,letters
66,to ivd,instrumentation,responsibilities load,True,0.0,15.0,15
112,apis player development workflow management,flash,html5 encrypted media extensions content,True,0.0,5.0,5
187,familiarity with,project management,approaches tools and,True,0.0,18.0,18
204,cafe food,hygiene,certificate,True,0.0,7.0,7
208,process,mapping,and documentation,True,0.0,7.0,7
...,...,...,...,...,...,...,...
5403949,or masters degree in,geology,required,True,0.0,7.0,7
5403952,develop a,strategic marketing,and sales,True,0.0,19.0,19
5403968,google adwords or marketing,automation,marketo or hubspot is,True,0.0,10.0,10
5404033,a strong passion for,photography,and an appreciation for,True,0.0,11.0,11
5404035,systems related software and our,practice management,software plans appointments meetings and,True,0.0,19.0,19