In [12]:
import pandas as pd
from flashtext import KeywordProcessor
import spacy
from spacy.matcher import PhraseMatcher
import sys
import re
#progress bar packages
from tqdm import tqdm
#ngram package
from nltk.util import ngrams
from nltk.tokenize import RegexpTokenizer
import nltk
from sklearn.utils import shuffle

pd.set_option('display.max_columns', None)

#for downloading spacy stuff
#!{sys.executable} -m spacy download en

#en is the large model
nlp = spacy.load("en_core_web_sm")

In [13]:
df_sentences = pd.read_csv("/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/sentences_emscad.csv")
df_softskills = pd.read_csv("/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Skills/softskills.csv")
df_hardskills = pd.read_csv("/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Skills/emsi_skills.csv")

df_hardskills = df_hardskills[df_hardskills['type']== 'Hard Skill']
df_hardskills = pd.DataFrame(df_hardskills['name'])

/Users/ivowings/opt/anaconda3/envs/Thesis/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [16]:
columnname = 'soft_skill_no_stopwords'
df_softskills = df_softskills[[columnname]]

In [17]:
#Renameing the skill column names and merging afterwards
df_softskills = df_softskills.rename(columns={columnname: 'skill'})
df_hardskills = df_hardskills.rename(columns={'name': 'skill'})
df_skills = pd.concat([df_softskills, df_hardskills])
df_skills = df_skills.drop_duplicates()
df_skills

                          skill
0              responsibilities
1                responsibility
2                 transparently
3                   responsible
4                accountability
...                         ...
28607  iSqFt (Bidding Software)
28608                     jMock
28609                 pH Meters
28610                     qTest
28611                spatialNET

[28860 rows x 1 columns]

In [18]:
#Creating all the possible grams for each sentence
allgrams = []

#This tokenizer immediately removes punctuation and special characters from the sentence
tokenizer = RegexpTokenizer(r'\w+')

#,sentence,sentence_lemmatized,sentence_no_stopwords

for sentence in tqdm(df_sentences['sentence_no_stopwords']):
    tokenizedsentence = tokenizer.tokenize(str(sentence))
    
    #Getting all possible n grams of the sentence
    #for n in range(1,len(tokenizedsentence)+1):
    
    #getting up to tri grams for each sentence
    for n in range(1,4):
        grams = ngrams(tokenizedsentence,n)
        for gram in grams:
            allgrams.append(str(gram))

100%|██████████| 22523494/22523494 [02:02<00:00, 184535.97it/s]

In [19]:
allgrams = pd.DataFrame(allgrams)
allgrams = allgrams.rename(columns={0:'allgrams'})
print(allgrams.shape[0])

29831589

In [20]:
#Initializing the keyword processor
keyword_processor = KeywordProcessor(case_sensitive=False)

#Adding all the skills to the processor
for skill in tqdm(df_skills['skill']):
    keyword_processor.add_keyword(skill)

def searcher(row):
    #check if the words are in the row and return a True or False instead of the actual word
    boolean = bool(keyword_processor.extract_keywords(row))
    return boolean

100%|██████████| 28860/28860 [00:00<00:00, 51744.54it/s]

In [21]:
tqdm.pandas()
allgrams['contains_skill'] = allgrams['allgrams'].progress_apply(searcher)

100%|██████████| 29831589/29831589 [02:39<00:00, 187274.90it/s]

In [22]:
#Only selecting the ngrams which contain a skill
allgrams = allgrams[allgrams.contains_skill == True]
#cleaning up
allgrams['allgrams'] = allgrams['allgrams'].astype(str)
allgrams['allgrams'] = allgrams['allgrams'].str.replace(r"[(),.']", '')
allgrams['allgrams'] = allgrams['allgrams'].str.strip()
allgrams = allgrams.drop(columns=['contains_skill'])

<ipython-input-22-6ef50e2d158f>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  allgrams['allgrams'] = allgrams['allgrams'].str.replace(r"[(),.']", '')

In [23]:
#Some softskills match multiple times, therefore removing the duplicates
allgrams = allgrams.drop_duplicates().reset_index(drop=True)

#removing any nans
allgrams.dropna(subset=['allgrams'],inplace=True)

In [24]:
allgrams = shuffle(allgrams)
allgrams.to_csv("/Users/ivowings/Sync/Thesis/Datasources/To be annotated/emscad_trigrams_nostopwords_taxonomy.csv", 
                quoting=csv.QUOTE_NONNUMERIC,
                index=False)
allgrams

                       allgrams
0                          team
1                    small team
2                  team editors
3               work small team
4            small team editors
...                         ...
406668    think creatively step
406669  creatively step outside
406670        eager learn great
406671          figure problems
406672     able figure problems

[406673 rows x 1 columns]