In [37]:
import pandas as pd
from nltk import word_tokenize
from tqdm import tqdm
tqdm.pandas()

In [19]:
# sentences = pd.read_csv('/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/sentences/sentences_emscad.csv')
# sentences = sentences[['sentence']]
# sentences['sentence'] = sentences['sentence']+'.'
# sentences.head()

                                            sentence
0  food52 a fast growing james beard award winnin...
1  reproducing and or repackaging existing food52...
2  researching blogs and websites for the provisi...
3  assisting in day to day affiliate program supp...
4            supporting with pr  events when needed.

In [39]:
# #Breaking each sentence down into tokens for annotation
# token_df = pd.DataFrame()

# for index in tqdm(range(0,len(sentences['sentence']))):
#     tokens = pd.DataFrame(word_tokenize(sentences['sentence'].iloc[index]),columns=['tokens'])
#     tokens['index'] = index
    
#     token_df = pd.concat([token_df,tokens])

100%|██████████| 302284/302284 [10:39:09<00:00,  7.88it/s]

In [42]:
# token_df.shape[0]
# token_df.to_csv('/Users/ivowings/Desktop/spacy_dataset.csv',index=False)

4853080

In [126]:
spacy_dataset = pd.read_csv('/Users/ivowings/Sync/Thesis/Datasources/Spacy approach/spacy_dataset.csv')
spacy_dataset = spacy_dataset.rename(columns={'index':'sentence'})
spacy_dataset

          tokens  sentence
0         food52         0
1              a         0
2           fast         0
3        growing         0
4          james         0
...          ...       ...
4853075   making    302283
4853076        a    302283
4853077      job    302283
4853078    offer    302283
4853079        .    302283

[4853080 rows x 2 columns]

In [127]:
from flashtext import KeywordProcessor
#Adding all the skills to the processor

keyword_processor = KeywordProcessor(case_sensitive=False)

soft_skills = pd.read_csv('/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Skills/softskills.csv')
soft_skills = soft_skills[['soft_skill']]

for skill in tqdm(soft_skills['soft_skill']):
    keyword_processor.add_keyword(skill)
    
def searcher(row):
    #check if the words are in the row and return a True or False instead of the actual word
    boolean = bool(keyword_processor.extract_keywords(row))
    return boolean

100%|██████████| 580/580 [00:00<00:00, 15000.62it/s]

In [128]:
spacy_dataset['match'] = spacy_dataset['tokens'].astype(str).progress_apply(searcher)

100%|██████████| 4853080/4853080 [00:15<00:00, 307513.97it/s]

In [129]:
spacy_dataset = spacy_dataset.reset_index()
tmp = spacy_dataset.groupby('sentence').size()
rank = tmp.map(range)
rank =[item for sublist in rank for item in sublist]
spacy_dataset['rank'] = rank
#spacy_dataset = spacy_dataset.drop(columns=['level_0'])

KeyError: "['level_0'] not found in axis"

In [139]:
spacy_dataset[((spacy_dataset['match']==True) & 
               (spacy_dataset['rank'] > 0) & 
               (spacy_dataset['rank'] < spacy_dataset.shape[0]))]

           index         tokens  sentence  match  rank
32            32           team         0   True    32
70            70     management         1   True    25
148          148     management         8   True     3
186          186         detail        11   True     6
205          205  communication        13   True     1
...          ...            ...       ...    ...   ...
4852953  4852953    cooperation    302278   True    12
4853004  4853004          goals    302282   True    20
4853039  4853039           team    302282   True    55
4853046  4853046        initial    302283   True     3
4853075  4853075         making    302283   True    32

[232734 rows x 5 columns]

In [145]:
for sentence_value in tqdm(spacy_dataset.sentence.unique()):
    [((spacy_dataset['sentence'] == sentence_value) & 
                   spacy_dataset['match']==True) & 
               (spacy_dataset['rank'] > 0) & 
               (spacy_dataset['rank'] < spacy_dataset.shape[0])] = 'banaan'

SyntaxError: cannot assign to operator (<ipython-input-145-4ee8f325edb0>, line 2)

In [ ]:
for x in spacy_dataset.groupby('sentence').size():
    spacy_dataset['max_number'] = spacy_dataset[(spacy_dataset['sentence']==x)]