In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Combined/Taxonomy/Sorted/context_1.csv')

In [10]:
df = df.sample(3400)
df['concatenated'] = df['left_context'] + ' | ' + df['candidate_skill'] + ' | ' + df['right_context']
df = df[['concatenated']]
df

                                             concatenated
283537                    e  | g hotels |  apartments and
74963                     such  | as elasticsearch |  and
745331  technical support to our sales  | team creatin...
344713  web site internationalization localization fam...
761950  the ability to prioritise multi  | task and de...
...                                                   ...
76511   experience with responsive  | design jquery | ...
204553  calculate final  | profitability for |  closed...
59672           be highly  | motivated to |  learn with a
449579  service and  | coordinate efforts |  to accomp...
350199      phone and  | in writing |  website management

[3400 rows x 1 columns]

In [11]:
df.to_csv('/Users/ivowings/Sync/Thesis/Datasources/Preprocessed/Combined/Taxonomy/Sorted/Ready for annotation/context_1.csv',index=False)